In [1]:
%pip install numpy

Requirement already satisfied: numpy in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (1.22.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np

In [3]:
%pip install pandas

Requirement already satisfied: pandas in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.18.5 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
%pip install matplotlib

Requirement already satisfied: matplotlib in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (3.5.1)
Requirement already satisfied: cycler>=0.10 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from matplotlib) (4.32.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: numpy>=1.17 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from matplotlib) (1.22.3)
Requirement already satisfied: packaging>=20.0 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from matplotlib) (3.0.8)
Requirement already satisfied: python-dateutil>=2.7 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

In [7]:
%pip install yfinance

%pip install -U Jinja2

Requirement already satisfied: yfinance in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (0.2.44)
Requirement already satisfied: pandas>=1.3.0 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from yfinance) (1.4.2)
Requirement already satisfied: numpy>=1.16.5 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from yfinance) (1.22.3)
Requirement already satisfied: requests>=2.31 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: platformdirs>=2.0.0 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from yfinance) (2.3.10)
Requirement already satisfied: peewee>=3.16.2 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from yfinance) (3.17.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from requests>=2.31->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from requests>=2.31->yfinance) (2023.11.17)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: Jinja2 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (3.1.4)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/andrea/Documents/python_envs/env_research/lib/python3.9/site-packages (from Jinja2) (2.1.2)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import yfinance as yf

In [9]:
yf.download('REC.MI')

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close     Adj Close  Volume
Date
1995-03-24   0.296962   0.296962   0.285342   0.296962 -3.990387e+11       0
1995-03-27   0.303417   0.303417   0.293735   0.303417 -4.077124e+11       0
1995-03-28   0.303417   0.303417   0.303417   0.303417 -4.077124e+11       0
1995-03-29   0.612645   0.612645   0.590697   0.612645 -8.232333e+11       0
1995-03-30   0.597152   0.597152   0.597152   0.597152 -8.024149e+11       0
...               ...        ...        ...        ...           ...     ...
2024-10-21  54.049999  54.450001  53.750000  53.750000  5.375000e+01  164560
2024-10-22  53.750000  53.950001  52.900002  53.349998  5.335000e+01  199415
2024-10-23  53.200001  53.849998  53.049999  53.700001  5.370000e+01  194154
2024-10-24  53.650002  53.900002  53.299999  53.799999  5.380000e+01  174203
2024-10-25  53.700001  53.849998  53.450001  53.750000  5.375000e+01  165408

[7593 rows x 6 columns]

In [10]:
yf.download('BRE.MI')

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close     Adj Close   Volume
Date
1995-08-02   0.633965   0.633965   0.633965   0.633965  3.872004e+07     9772
1995-08-03   0.625513   0.636079   0.625513   0.625513  3.820383e+07  1647207
1995-08-04   0.621287   0.629739   0.614946   0.621287  3.794572e+07  1285502
1995-08-07   0.610720   0.625091   0.604381   0.610720  3.730033e+07   694073
1995-08-08   0.613044   0.625091   0.612833   0.613044  3.744228e+07   229724
...               ...        ...        ...        ...           ...      ...
2024-10-21  10.368000  10.510000  10.260000  10.260000  1.026000e+01   577625
2024-10-22  10.244000  10.298000  10.164000  10.298000  1.029800e+01   645745
2024-10-23  10.298000  10.390000  10.138000  10.184000  1.018400e+01   658365
2024-10-24  10.200000  10.336000  10.150000  10.150000  1.015000e+01   492257
2024-10-25  10.124000  10.124000   9.898000  10.000000  1.000000e+01   791614

[7499 rows x 6 columns]

In [11]:
yf.download('IP.MI')

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close     Adj Close   Volume
Date
1996-12-16   2.516830   2.516830   2.516830   2.516830 -1.269091e+08        0
1996-12-17   2.396310   2.540460   2.363220   2.396310 -1.208320e+08  1536000
1996-12-18   2.424670   2.476660   2.367950   2.424670 -1.222620e+08   626000
1996-12-19   2.389220   2.450660   2.389220   2.389220 -1.204745e+08   168000
1996-12-20   2.372680   2.429390   2.363220   2.372680 -1.196404e+08   210000
...               ...        ...        ...        ...           ...      ...
2024-10-21  41.419998  41.520000  40.639999  40.759998  4.076000e+01   244701
2024-10-22  40.700001  40.939999  40.259998  40.860001  4.086000e+01   197183
2024-10-23  40.820000  41.259998  40.380001  40.599998  4.060000e+01   230515
2024-10-24  40.799999  41.220001  40.619999  40.619999  4.062000e+01   120263
2024-10-25  40.299999  41.020000  40.240002  40.619999  4.062000e+01   139270

[7141 rows x 6 columns]

In [12]:
yf.download('STLAM.MI')

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2000-01-03   7.883026   8.069590   7.646535   7.646535   2.605167   7088014
2000-01-04   7.880398   7.959228   7.759525   7.896164   2.690215   5190138
2000-01-05   7.751642   8.193091   7.583471   8.172070   2.784216  11872851
2000-01-06   8.329730   8.395422   8.132655   8.250900   2.811073   5010512
2000-01-07   8.303454   8.461114   8.185208   8.382284   2.855836   9309749
...               ...        ...        ...        ...        ...       ...
2024-10-21  12.194000  12.296000  11.912000  11.926000  11.926000  12095973
2024-10-22  11.890000  12.040000  11.858000  12.020000  12.020000  10820476
2024-10-23  12.102000  12.520000  12.072000  12.380000  12.380000  24010337
2024-10-24  12.426000  12.934000  12.414000  12.560000  12.560000  21852099
2024-10-25  12.600000  12.718000  12.342000  12.672000  12.672000  13783319

[6347 rows x 6 columns]

In [13]:
import matplotlib.pyplot as plt
import pandas as pd

In [14]:
from datetime import datetime

In [15]:
today = datetime.today().strftime('%Y-%m-%d')
print(today)

first_day=datetime(2004,8,19)
print(first_day)

all_data = { ticker: yf.download(ticker,first_day,today,auto_adjust=True)
           for ticker in ['REC.MI', 'BRE.MI', 'IP.MI', 'STLAM.MI']}

2024-10-27
2004-08-19 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [16]:
all_data.keys()

dict_keys(['REC.MI', 'BRE.MI', 'IP.MI', 'STLAM.MI'])

In [17]:
dictionary = {ticker: data['Close'] for ticker, data in all_data.items()}
dictionary

{'REC.MI': Date
 2004-08-19     2.062057
 2004-08-20     2.048055
 2004-08-23     2.049328
 2004-08-24     2.027689
 2004-08-25     2.017507
                 ...
 2024-10-21    53.750000
 2024-10-22    53.349998
 2024-10-23    53.700001
 2024-10-24    53.799999
 2024-10-25    53.750000
 Name: Close, Length: 5139, dtype: float64,
 'BRE.MI': Date
 2004-08-19     0.662735
 2004-08-20     0.654331
 2004-08-23     0.672340
 2004-08-24     0.678343
 2004-08-25     0.677142
                 ...
 2024-10-21    10.260000
 2024-10-22    10.298000
 2024-10-23    10.184000
 2024-10-24    10.150000
 2024-10-25    10.000000
 Name: Close, Length: 5139, dtype: float64,
 'IP.MI': Date
 2004-08-19     2.760963
 2004-08-20     2.741428
 2004-08-23     2.767475
 2004-08-24     2.760963
 2004-08-25     2.787011
                 ...
 2024-10-21    40.759998
 2024-10-22    40.860001
 2024-10-23    40.599998
 2024-10-24    40.619999
 2024-10-25    40.619999
 Name: Close, Length: 5139, dtype: float64,
 'STLAM.MI': Date
 2004-08-19     0.713558
 2004-08-20     0.701645
 2004-08-23     0.709984
 2004-08-24     0.714749
 2004-08-25     0.708793
                 ...
 2024-10-21    11.926000
 2024-10-22    12.020000
 2024-10-23    12.380000
 2024-10-24    12.560000
 2024-10-25    12.672000
 Name: Close, Length: 5139, dtype: float64}

In [18]:
price = pd.DataFrame({ticker: data['Close'] for ticker, data in all_data.items()})
price.head()

              REC.MI    BRE.MI     IP.MI  STLAM.MI
Date
2004-08-19  2.062057  0.662735  2.760963  0.713558
2004-08-20  2.048055  0.654331  2.741428  0.701645
2004-08-23  2.049328  0.672340  2.767475  0.709984
2004-08-24  2.027689  0.678343  2.760963  0.714749
2004-08-25  2.017507  0.677142  2.787011  0.708793